version: 2.1
jobs:
  plan-apply:
    working_directory: /tmp/project
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - checkout
      - run:
          name: display the env
          command: |
            echo ${environment}
            apk add --no-cache python3 py3-pip 
            pip3 install --upgrade pip
            pip3 install --no-cache-dir awscli
      - run:
          name: terraform init & plan
          command: |
            terraform init

workflows:
  say-hello-workflow:
    jobs:
      - plan-apply
